marshmallow_oneofschema
marshmallow-dataclass
toml
marshmallow_enum
transformers
stanza
epitran
mutagen
zarr
regex
flashlight-text
phonemizer
langcodes[data]
requests
panphon
msgpack
mashumaro
torch
torchaudio
pandas

